<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <div th:replace="layout/plantilla :: header"></div>
        <body>
            <div>

                <section class="container py-5 text-center">
                    <h2>Página en construcción</h2>
                    <p>Pronto empezará su desarrollo</p>
                </section>
            </div>           
            <div th:replace="layout/plantilla :: footer">
            </div>
        </body>
</html>