<!DOCTYPE html
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <!-- Header, Navbar, Botton, Language selector, Search bar  | Tyler -->
           
            <!-- HU 3 y 17 - Registro e inicio y Descargar folleto | Penpot: Registro | Yong-->

                <!-- Ejemplo para poder llamar al pdf, es un pdf vació de momento, esta es la ruta: -->
                 <a th:href="@{/pdf/folleto.pdf}" download>

            <!-- HU 4 y 12 - Contacto y admisión | Penpot: Asistencia | Brenda -->
            
            
            <!-- HU1 - Servicios del hogar | Penpot: Servicios | Jefferson -->
            
            
            <!-- HU5 - Historia, misión y valores | Penpot: Preguntas Frecuentes | Jefferson -->


            <!-- HU 6, 10 - Menu principal | Penpot: Menu | Tyler -->
            
            
            <!-- Footer | Tyler -->

            </section>

    </body>
</html>
</body>
</html>
