<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <div th:replace="layout/plantilla :: header"></div>

        <!-- Servicios -->
        <section class="container-fluid my-5" style="color: #5e7154;">
            <div class="container mt-5" th:inline="text">
                <h1 class="text-center servicios-title">[[#{menu.titulo}]]</h1>
                <div class="servicios-menu">
                    <div class="servicio-item">
                        <i class="fa-brands fa-accessible-icon"></i>
                        <span>[[#{menu.accesibilidad}]]</span>
                    </div>
                    <div class="servicio-item">
                        <i class="fa-solid fa-person-walking"></i>
                        <span>[[#{menu.actividades}]]</span>
                    </div>
                    <div class="servicio-item">
                        <i class="fa-solid fa-bed"></i>
                        <span>[[#{menu.alojamiento}]]</span>
                    </div>
                    <div class="servicio-item">
                        <i class="fa-solid fa-utensils"></i>
                        <span>[[#{menu.alimentacion}]]</span>
                    </div>
                    <div class="servicio-item">
                        <i class="fa-solid fa-suitcase-medical"></i>
                        <span>[[#{menu.medica}]]</span>
                    </div>
                    <div class="servicio-item">
                        <i class="fa-solid fa-brain"></i>
                        <span>[[#{menu.estimulacion}]]</span>
                    </div>
                    <div class="servicio-item">
                        <i class="fa-solid fa-pump-soap"></i>
                        <span>[[#{menu.limpieza}]]</span>
                    </div>
                </div>
        </section>

        <!-- Testimonios -->
        <section class="container-fluid my-5">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <div class="card h-100">
                        <!-- Titulo de la card -->
                        <!-- Titulo de la card -->
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span>[[#{testimonios.titulo}]]</span>
                        </div>

                        <!-- Contenido de testimonios -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.1}]]</p>
                                    <p class="testimonial-author">- Maria Gonzalez</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.2}]]</p>
                                    <p class="testimonial-author">- Juan Pérez</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.3}]]</p>
                                    <p class="testimonial-author">- Carmen Ríos</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.4}]]</p>
                                    <p class="testimonial-author">- Carlos Castro</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.5 }]]</p>
                                    <p class="testimonial-author">- Jimena Mora</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.6 }]]</p>
                                    <p class="testimonial-author">- Sonia Williams</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.7}]]</p>
                                    <p class="testimonial-author">- Familia Rojas</p>
                                </div>
                                <div class="col-md-6 testimonial-block">
                                    <p class="testimonial-text">[[#{testimonios.texto.8}]]</p>
                                    <p class="testimonial-author">- Ana Fernández</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Visítenos -->
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">[[#{menu.visitenos}]]</div>
                        <div class="card-body d-flex flex-column">
                            <p>[[#{menu.horario}]] <br>[[#{menu.horario.detalle}]]</p>
                            <p>[[#{menu.ubicacion}]]<br>[[#{menu.ubicacion.detalle}]]</p>
                            <div class="map-responsive flex-grow-1">
                                <iframe 
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.1460082480553!2d-84.474424!3d10.087120299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0457dd1e9debf%3A0xa878ae9cfd3f6098!2sHogar%20Arbol%20de%20Sabiduria!5e0!3m2!1ses!2scr!4v1752209199573!5m2!1ses!2scr"
                                    width="100%" height="100%" 
                                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal de confirmación de testimonio -->
        <div class="modal fade" id="modalTestimonioAgregado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTestimonioAgregadoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTestimonioAgregadoLabel">[[#{menu.modal.testimonio}]]</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body text-center">
                        [[#{menu.modal.mensaje}]]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">[[#{menu.modal.entendido}]]</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla :: footer"></div>
    </body>
</html>